<h1>Articles</h1>

<% if flash[:notice] %>
  <div class="alert">
    <%= notice %>
  </div>
<% end %>
<ul>
<% @posts.each do |post| %>
  <li>
    <%= link_to post.title, post %> -
    <%= link_to 'editer', [:edit, post] %> -
    <%= link_to 'Supprimer', post, method: :delete %>
  </li>
<% end %>
</ul>

<%= link_to 'Creer un article', new_post_path %>