<div class="row">
  <h1 class="col s12 center-align"><%= @post.title %> </h1>
  <%= link_to @post.user.username, user_infos_path(id: @post.user.id) %>

  <p><%= @post.content %> </p>
  <div class="divider"></div>
  <div class="row">
  <h3 class="col">Commentaires</h3><p class="col">(<%= @post.comments.count %>)</p>
  </div>

  <%= render @post.comments %>
</div>
<%= @post.id %>
<%= render 'comments/form', {post: @post} %>